<script lang="ts">
  // 3rd party deps
  import type * as sdk from "matrix-js-sdk";

  // local imports
  import { loadClient, saveClient, registerGuest } from "./matrix";
  import url from "./url";
  import Login from "./Login.svelte";
  import EventPage from "./EventPage.svelte";
  import Create from "./Create.svelte";

  // error handling
  let error: Error | undefined;
  const oldhandler: ((e: PromiseRejectionEvent) => any) | null =
    window.onunhandledrejection;
  window.onunhandledrejection = (e) => {
    error = e.reason;
    console.error({ error });
    e.preventDefault();
    if (oldhandler) oldhandler(e);
  };
  window.onerror = () => {};

  let client: sdk.MatrixClient | undefined;

  // sets `client` (declared above) and save to localStorage
  const setClient = (c: sdk.MatrixClient) => saveClient((client = c));

  async function initClient(): Promise<sdk.MatrixClient> {
    // try loading an existing matrix client from localStorage
    // register a guest user if that doesn't work
    let client = (await loadClient()) || (await registerGuest());
    setClient(client);
    return client;
  }
  initClient();

  // if the url is a room alias, this is that
  let roomAlias: string | undefined;
  $: roomAlias =
    (roomAlias = ($url.pathname.match(/^\/(%23.+:.+)\/.*$/) || [])[1]) &&
    decodeURIComponent(roomAlias);

  // promise to look up room id and servers from that
  let roomAliasResolved:
    | Promise<{ room_id: string; servers: Array<string> }>
    | undefined;
  $: roomAliasResolved =
    client && roomAlias ? client.resolveRoomAlias(roomAlias) : undefined;

  // if the roomId is just directly in the url
  let urlRoomId: string | undefined = ($url.pathname.match(
    /^\/(\!.+:.+)\/.*$/
  ) || [])[1];

  // the resulting roomId to be used - either directly from the url, or from a resolved room alias
  let roomId: Promise<string> | undefined;
  $: roomId = urlRoomId
    ? Promise.resolve(urlRoomId)
    : roomAliasResolved && roomAliasResolved.then((r) => r.room_id);

  let eventId: string | undefined;
  $: eventId = ($url.pathname.match(/^\/.+\/(\$.+)/) || [])[1];
</script>

<main class="min-h-screen bg-base-300">
  <p>{client ? `Logged in as ${client.getUserId()}` : "Loading..."}</p>

  <!-- unhandled errors -->
  {#if error}
    <div class="alert alert-error shadow-lg flex-row">
      <span><span class="font-bold">{error.name}:</span> {error.message}</span>
      <button
        class="btn btn-sm btn-ghost flex-none"
        on:click="{() => (error = undefined)}">Dismiss</button
      >
    </div>
  {/if}

  <!-- show different ui based on url path -->
  {#if $url.pathname.startsWith("/login")}
    <!-- Login page -->
    <Login setClient="{setClient}" />
  {:else if !client}
    <!-- Loading client -->
    <p>Connecting to Matrix server...</p>
    <p>
      If you are stuck here for a long time, you can <a href="/login">log in</a>
      to your own matrix server instead.
    </p>
  {:else if $url.pathname.startsWith("/create")}
    <!-- create a new event -->
    <Create client="{client}" />
  {:else if roomId && eventId}
    <!-- render event page -->
    {#await roomId}
      <p>Loading event room...</p>
    {:then rId}
      <EventPage bind:client roomId="{rId}" bind:eventId />
    {/await}
  {:else}
    <h1>¯\_(ツ)_/¯ 404</h1>
  {/if}

  <!-- logout button should always be visible -->
  <button
    class="btn"
    on:click="{() => {
      localStorage.removeItem('loginData');
      initClient();
    }}">Log out</button
  >
</main>
