<script lang="ts">
  import type * as sdk from "matrix-js-sdk";
  import { createEventRoom } from "./event";
  import DatePicker from "./DatePicker.svelte";
  import ImagePicker from "./ImagePicker.svelte";

  export let client: sdk.MatrixClient;

  let title: string;
  let description: string;

  // default begin time is now
  let begin = new Date();
  // default end time is one hour after begin time
  let end = new Date(begin.getTime() + 60 * 60 * 1000);

  // image file
  let image: File | undefined;

  const createClicked = async (_: Event) => {
    const room = await createEventRoom(client, {
      title,
      description,
      begin,
      end,
    });
    console.log(room);
    if (!room) return;
    // XXX: here is a race-condition: the page might redirect before the room is ready
    const eventPageURL = `/${room.roomId}/${room.eventId}`;
    console.log({ eventPageURL });
    history.pushState(null, "", eventPageURL);
  };
</script>

{#if client.isGuest()}
  <p>You need to log in to create new events.</p>
  <button on:click="{() => history.pushState(null, '', '/login')}"
    >Go to login</button
  >
{:else}
  <div class="flex flex-col items-center">
    <div class="space-y-10 w-min bg-base-100 p-12 rounded-xl">
      <input
        type="text"
        class="input input-lg font-bold w-full bg-base-300"
        placeholder="Title"
        bind:value="{title}"
      />

      <textarea
        type="text"
        class="textarea w-full bg-base-300"
        placeholder="Write a description..."
        rows="4"
        bind:value="{description}"></textarea>

      <DatePicker begin="{begin}" bind:end />

      <ImagePicker />

      <!-- submit button -->
      <div class="flex flex-col items-center w-full">
        <button class="btn rounded-3xl btn-accent" on:click="{createClicked}">
          Create event
        </button>
      </div>
    </div>
  </div>
{/if}
