<script lang="ts">
  export let begin: Date;
  export let end: Date;

  // make strings compatible with the `<input>` tag from `Date` objects
  const dateStr = (date: Date) => {
    const year = date.getFullYear();
    const month = (date.getMonth() + "").padStart(2, "0");
    const day = (date.getDate() + "").padStart(2, "0");
    return `${year}-${month}-${day}`;
  };
  const timeStr = (date: Date) => date.toTimeString().slice(0, 5);

  // initial values for the <input>s
  let beginDateStr = dateStr(begin);
  let beginTimeStr = timeStr(begin);
  let endDateStr = dateStr(end);
  let endTimeStr = timeStr(end);
  $: console.log({ endDateStr, endTimeStr });

  // update `begin` and `end` when the <input> changes
  $: beginDateStr && beginTimeStr
    ? (begin = new Date(`${beginDateStr} ${beginTimeStr}`))
    : null;
  $: endDateStr && endTimeStr
    ? (begin = new Date(`${endDateStr} ${endTimeStr}`))
    : null;

  $: console.log({ begin, end });

  // calculate duration
  $: durationminutes = (end.getTime() - begin.getTime()) / (1000 * 60);
  $: durationstr = `${Math.floor(durationminutes / 60)} hours ${
    durationminutes % 60
  } minutes`;
</script>

<div class="flex flex-col w-full">
  <label class="flex w-full items-center">
    <span class="grow">Begins&nbsp;on</span>
    <input type="date" class="input" bind:value="{beginDateStr}" />
    @
    <input type="time" class="input" bind:value="{beginTimeStr}" />
  </label>

  <label class="flex w-full items-center">
    <span class="grow">Ends&nbsp;on</span>
    <input type="date" class="input" bind:value="{endDateStr}" />
    @
    <input type="time" class="input" bind:value="{endTimeStr}" />
  </label>
  <p class="text">Duration: {durationstr}</p>
</div>
