<script lang="ts">
  import type { MatrixClient } from "matrix-js-sdk";
  import type { CalendarEvent } from "./event";
  import { getCalendarEvent } from "./event";

  export let client: MatrixClient;
  export let roomId: string;
  export let eventId: string;

  let event: CalendarEvent | undefined;

  let begin: Date | undefined;
  let end: Date | undefined;

  // fetch the event
  const getEvent = getCalendarEvent(client, roomId, eventId).then((e) => {
    event = e;

    // make date objects
    begin = new Date(e["content"]["chat.cactus.calendar.event"]["begin"]);
    end = new Date(e["content"]["chat.cactus.calendar.event"]["end"]);

    return e;
  });

  const threeLetterMonth = (date: Date) =>
    date
      .toLocaleString("default", { month: "long" })
      .substring(0, 3)
      .toUpperCase();

  const dateString = (date: Date) => {
    // make a natural language string from the date
    let now: Date = new Date();
    let month: string = threeLetterMonth(date);
    let day: string = date.getDate() + "";
    let year: string =
      date.getFullYear() === now.getFullYear() ? "" : date.getFullYear() + "";
    let hour: string = (date.getHours() + "").padStart(2, "0");
    let minute: string =
      date.getMinutes() === 0 ? "" : (date.getMinutes() + "").padStart(2, "0");
    return `${month} ${day} ${year} AT ${hour}${minute ? ":" + minute : ""}`;
  };
</script>

<div class="flex flex-col items-center">
  <div class="bg-base-100 p-12 rounded-xl">
    {#await getEvent}
      <p>Loading...</p>
    {:then e}
      <!-- calendar icon date -->
      <div class="bg-slate-200 h-24 w-24 rounded-xl">
        <div
          class="bg-red-600 text-slate-200 font-medium text-lg text-center rounded-t-xl"
        >
          {begin ? threeLetterMonth(begin) : ""}
        </div>
        <div class="h-full w-full text-center text-5xl mt-2 text-black">
          {begin ? begin.getDate() + "" : ""}
        </div>
      </div>

      <!-- full date -->
      <p class="pt-6 text-md text-red-600 font-semibold">
        {begin ? dateString(begin) : ""} - {end ? dateString(end) : ""}
      </p>

      <!-- title -->
      <h1 class="text text-5xl font-bold">
        {e["content"]["chat.cactus.calendar.event"]["title"]}
      </h1>

      <!-- description -->
      <p class="text-md">
        {e["content"]["chat.cactus.calendar.event"]["description"]}
      </p>
    {/await}
  </div>
</div>
