<script lang="ts">
  let input: HTMLInputElement;
  let imageDataUrl: string | undefined;

  const onChange = () => {
    // look at how many ways this code can fail (silently, yaay)
    if (!input) return;
    if (!input.files) return;
    const file: File = input.files[0];
    if (!file) return;

    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = (_: ProgressEvent<FileReader>) => {
      // got a data url - put it on the image
      if (typeof reader.result == "string") imageDataUrl = reader.result;
      console.log(reader.result);
    };

    return;
  };
</script>

<!-- image upload -->
<div class="w-full border-dashed border border-base-content rounded-md">
  <label>
    <!-- svg icon, copied from heroicons -->
    <div class="flex flex-col items-center m-8">
      {#if imageDataUrl}
        <img src="{imageDataUrl}" alt="Event cover" />
      {/if}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-12 w-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
        ></path>
      </svg>
      <span class="text text-center">Upload an image</span>
    </div>

    <!-- the actual, invisible input -->
    <input
      bind:this="{input}"
      on:change="{onChange}"
      type="file"
      class="invisible absolute h-0 w-0"
    />
  </label>
</div>
