<script lang="ts">
  import type * as sdk from "matrix-js-sdk";
  import { login } from "./matrix";

  export let setClient: (c: sdk.MatrixClient) => void;

  // form state
  let userId = "";
  let password = "";

  // form submission function
  const loginClicked = async (_: Event) => {
    const client = await login(userId, password);
    setClient(client);
    // TODO: redirect somewhere
  };
</script>

<div class="flex flex-col items-center">
  <div class="space-y-10 bg-base-100 p-12 rounded-xl">
    <label>
      User ID
      <input
        type="text"
        class="input w-full bg-base-300"
        bind:value="{userId}"
        placeholder="@alice:example.com"
      />
    </label>
    <label
      >Password
      <input
        type="password"
        class="input w-full bg-base-300"
        bind:value="{password}"
        placeholder="●●●●●●●●●●●●●●●●●●"
      />
    </label>
    <div class="flex flex-col items-center w-full">
      <button class="btn" on:click="{loginClicked}">Log in</button>
    </div>
  </div>
</div>
